<article class="recap">
  <header class="header">
    <h1 class="heading text-xxxl">Game Recap</h1>
  </header>
  <%= render GameWeb.GameView, "data.html" %>
  <%= render GameWeb.GameView, "grid.html" %>
  <%= render GameWeb.GlobalView, "share.html" %>
</article>
