<article class="game overview">
  <%= render GameWeb.LayoutView, "navigation.html", conn: @conn %>
  <header class="header">
    <h1 class="heading text-xxxl">Game Overview</h1>
  </header>
  <%= render GameWeb.GameView, "data.html" %>
  <%= render GameWeb.GameView, "grid.html" %>
</article>
