<article class="game">
  <%= render GameWeb.GameView, "header.html", conn: @conn %>
  <%= render GameWeb.GameView, "message.html" %>
  <%= render GameWeb.GameView, "grid.html" %>
  <%= render GameWeb.GameView, "footer.html", conn: @conn %>
</article>
