<link rel="manifest" href="game.webmanifest">
<meta name="theme-color" content="#f0c105">
<link rel="icon" href="<%= Routes.static_path(@conn, "/images/icon.svg") %>">
<link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/icon.svg") %>" color="#f0c105">
<link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/icon.png") %>">
