/*
==========================================================================================
  Typography
==========================================================================================
*/

.heading {
  font-weight: var(--font-weight-heading);
  line-height: 1;

  &:not(:last-child) { margin-bottom: 0.5em; }
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:hover, &.active { color: var(--color-base); }

  &.active {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
    text-decoration-style: solid;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.125em;
}
}

strong, b { font-weight: var(--font-weight-bold); }

em, i { font-style: italic; }

u {
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

small { font-size: var(--font-size-small); }

sub,
sup {
  vertical-align: initial;
  font-size: initial;
}

@supports (font-variant-position: sub) {
  sub,
  sup {
    vertical-align: baseline;
    font-size: inherit;
  }

  sub { font-variant-position: sub; }

  sup { font-variant-position: super; }
}

p, ul, ol, table { margin-bottom: 1em; }

ul, ol {
  list-style-position: inside;

  &.no-list-style { list-style-type: none; }
}
