<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render GameWeb.HeadView, "metadata.html", conn: @conn %>
    <%= render GameWeb.HeadView, "csrf.html", conn: @conn %>
    <%= render GameWeb.HeadView, "icons.html", conn: @conn %>
    <%= render GameWeb.HeadView, "opengraph.html", conn: @conn %>
    <%= render GameWeb.HeadView, "scripts.html", conn: @conn %>
    <%= render GameWeb.HeadView, "styles.html", conn: @conn %>
    <%= render GameWeb.HeadView, "fonts.html", conn: @conn %>
  </head>
  <body>
    <%# render GameWeb.GlobalView, "alerts.html", conn: @conn, flash: @flash %>
    <%# render GameWeb.LayoutView, "navigation.html", conn: @conn %>
    <%= @inner_content %>
  </body>
</html>
