/*
==========================================================================================
  Button
==========================================================================================
*/

button,
.button {
  color: var(--color-link);
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid;
  text-decoration-thickness: 0.09375em;
  text-underline-offset: 0.09375em;
  white-space: nowrap;
  cursor: pointer;

  &:disabled {
    color: var(--color-lightestgray);
    text-decoration: none;
    cursor: default;
  }

  &:not(:disabled) {
    &:hover { color: var(--color-base); }
  }

  &.button-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.7em 1em;
    background-color: var(--color-link);
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;

    &:disabled {
      background-color: var(--color-lightestgray);
      color: var(--color-lightergray);
    }

    &:not(:disabled) {
      &:hover { color: var(--color-white); }
    }
  }

  &.button-fixed {
    padding-left: 0;
    padding-right: 0;
  }

  &.button-large {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: var(--font-size-large);
  }

  &.button-wide { width: 100%; }
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
}
