/*
==========================================================================================
  Grid
==========================================================================================
*/

.phx-connected {
  .grid {
    &::after { content: none; }
  }
}

.grid {
  display: grid;
  padding: var(--spacing);
  background-color: var(--color-gray-3);
  border-radius: calc(var(--border-radius-base) * 2);
  position: relative;
  width: var(--grid-width);
  height: var(--grid-width);

  &::after {
    content: "Connecting...";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(var(--hue-base), var(--saturation-base), 100%, 75%);
    border-radius: calc(var(--border-radius-base) * 2);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-semibold);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  .tiles {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
    right: var(--spacing);
    bottom: var(--spacing);
    z-index: 2;
  }

  .cells {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    gap: var(--spacing);
    position: relative;
    z-index: 1;

    .cell {
      display: grid;
      background-color: var(--color-gray-2);
      border-radius: var(--border-radius-base);
    }
  }
}
