/*
==========================================================================================
  Tile
==========================================================================================
*/

.tile {
  position: absolute;
  width: calc((100% - (var(--spacing) * (var(--grid-columns) - 1))) / var(--grid-columns));
  height: calc((100% - (var(--spacing) * (var(--grid-columns) - 1))) / var(--grid-columns));

  &::after {
    content: attr(data-value);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tile-max);
    border-radius: var(--border-radius-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-black);
    color: var(--color-gray-0);
    line-height: 1;
    animation-delay: calc(var(--animation-duration-base) / 2);
    animation-fill-mode: backwards;
    width: 100%;
    height: 100%;
  }

  &[data-state="spawned"] {
    z-index: 1;

    &::after { animation-name: spawned; }
  }

  &[data-state="activated"],
  &[data-state="dismissed"] {
    z-index: 2;
  }

  &[data-state="merged"] {
    z-index: 3;

    &::after { animation-name: merged; }
  }

  &[data-x="1"] {
    &[data-y="1"] { transform: translate(calc((100% + var(--spacing)) * 0), calc((100% + var(--spacing)) * 0)); }

    &[data-y="2"] { transform: translate(calc((100% + var(--spacing)) * 0), calc((100% + var(--spacing)) * 1)); }

    &[data-y="3"] { transform: translate(calc((100% + var(--spacing)) * 0), calc((100% + var(--spacing)) * 2)); }

    &[data-y="4"] { transform: translate(calc((100% + var(--spacing)) * 0), calc((100% + var(--spacing)) * 3)); }
  }

  &[data-x="2"] {
    &[data-y="1"] { transform: translate(calc((100% + var(--spacing)) * 1), calc((100% + var(--spacing)) * 0)); }

    &[data-y="2"] { transform: translate(calc((100% + var(--spacing)) * 1), calc((100% + var(--spacing)) * 1)); }

    &[data-y="3"] { transform: translate(calc((100% + var(--spacing)) * 1), calc((100% + var(--spacing)) * 2)); }

    &[data-y="4"] { transform: translate(calc((100% + var(--spacing)) * 1), calc((100% + var(--spacing)) * 3)); }
  }

  &[data-x="3"] {
    &[data-y="1"] { transform: translate(calc((100% + var(--spacing)) * 2), calc((100% + var(--spacing)) * 0)); }

    &[data-y="2"] { transform: translate(calc((100% + var(--spacing)) * 2), calc((100% + var(--spacing)) * 1)); }

    &[data-y="3"] { transform: translate(calc((100% + var(--spacing)) * 2), calc((100% + var(--spacing)) * 2)); }

    &[data-y="4"] { transform: translate(calc((100% + var(--spacing)) * 2), calc((100% + var(--spacing)) * 3)); }
  }

  &[data-x="4"] {
    &[data-y="1"] { transform: translate(calc((100% + var(--spacing)) * 3), calc((100% + var(--spacing)) * 0)); }

    &[data-y="2"] { transform: translate(calc((100% + var(--spacing)) * 3), calc((100% + var(--spacing)) * 1)); }

    &[data-y="3"] { transform: translate(calc((100% + var(--spacing)) * 3), calc((100% + var(--spacing)) * 2)); }

    &[data-y="4"] { transform: translate(calc((100% + var(--spacing)) * 3), calc((100% + var(--spacing)) * 3)); }
  }

  &[data-value="2"],
  &[data-value="4"],
  &[data-value="8"] {
    &::after { color: var(--color-gray-5); }
  }

  &[data-value="2"],
  &[data-value="4"],
  &[data-value="8"],
  &[data-value="16"],
  &[data-value="32"],
  &[data-value="64"] {
    &::after { font-size: var(--font-size-xxxxl); }
  }

  &[data-value="128"],
  &[data-value="256"],
  &[data-value="512"] {
    &::after { font-size: var(--font-size-xxxl); }
  }

  &[data-value="1024"],
  &[data-value="2048"],
  &[data-value="4096"],
  &[data-value="8192"] {
    &::after { font-size: var(--font-size-xxl); }
  }

  &[data-value="16384"],
  &[data-value="32768"],
  &[data-value="65536"] {
    &::after { font-size: var(--font-size-xl); }
  }

  &[data-value="131072"],
  &[data-value="262144"],
  &[data-value="524288"] {
    &::after { font-size: var(--font-size-large); }
  }

  &[data-value="2"] {
    &::after { background-color: var(--color-tile-2); }
  }

  &[data-value="4"] {
    &::after { background-color: var(--color-tile-4); }
  }

  &[data-value="8"] {
    &::after { background-color: var(--color-tile-8); }
  }

  &[data-value="16"] {
    &::after { background-color: var(--color-tile-16); }
  }

  &[data-value="32"] {
    &::after { background-color: var(--color-tile-32); }
  }

  &[data-value="64"] {
    &::after { background-color: var(--color-tile-64); }
  }

  &[data-value="128"] {
    &::after { background-color: var(--color-tile-128); }
  }

  &[data-value="256"] {
    &::after { background-color: var(--color-tile-256); }
  }

  &[data-value="512"] {
    &::after { background-color: var(--color-tile-512); }
  }

  &[data-value="1024"] {
    &::after { background-color: var(--color-tile-1024); }
  }

  &[data-value="2048"] {
    &::after { background-color: var(--color-tile-2048); }
  }

  &[data-value="4096"] {
    &::after { background-color: var(--color-tile-4096); }
  }

  &[data-value="8192"] {
    &::after { background-color: var(--color-tile-8192); }
  }

  &[data-value="16384"] {
    &::after { background-color: var(--color-tile-16384); }
  }

  &[data-value="32768"] {
    &::after { background-color: var(--color-tile-32768); }
  }

  &[data-value="65536"] {
    &::after { background-color: var(--color-tile-65536); }
  }
}
