/*
==========================================================================================
  Body
==========================================================================================
*/

body {
  margin: 0 auto;
  padding-top: env(safe-area-inset-top);
  position: relative;
  min-width: var(--width-min);
  max-width: 192rem;

  @media (min-width: 720px) and (min-aspect-ratio: 9/8) { min-width: calc(var(--width-min) * 2); }
}
