/*
==========================================================================================
  Main
==========================================================================================
*/

.main {
  grid-area: main;
  padding: calc(var(--spacing) * 2);
  background-color: var(--color-background);
  min-height: 100vh;
}
