/*
==========================================================================================
  Main
==========================================================================================
*/

.main {
  padding: calc(var(--spacing) * 1.5);
  background-color: var(--color-background);
  min-height: 100vh;
}
