/*
==========================================================================================
  Recap
==========================================================================================
*/

.recap {
  display: grid;
  grid-template-areas:
    "header"
    "grid  "
    "data  "
    "share ";
  grid-template-columns: var(--grid-width);
  grid-template-rows: auto auto 1fr auto;
  gap: var(--spacing) calc(var(--spacing) * 4);
  justify-self: center;
  align-self: center;
  align-items: start;

  @media (min-width: 720px) and (min-aspect-ratio: 9/8) {
    grid-template-areas:
      "header grid"
      "data   grid"
      "share  grid";
    grid-template-columns: var(--grid-width) var(--grid-width);
    grid-template-rows: auto 1fr auto;
  }

  .header { grid-area: header; }

  .grid { grid-area: grid; }

  .data { grid-area: data; }

  .share { grid-area: share; }
}
